
#dashboard .block #main .content main #project-view #task-form
{
   background-color: rgba(0, 0, 0, 0.337);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    z-index: 9999;
}

#dashboard .block #main .content main #project-view #task-form .task-form-container
{
    background-color: var(--color-white);
    width: 70%;
    max-width: 750px;
    height: 600px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: var(--border-radius-medium);
    padding: 30px;
    color: var(--color-black);
}

#dashboard .block #main .content main #project-view #task-form .task-form-container form
{
   height: 100%;
   display: flex;
}

#dashboard .block #main .content main #project-view #task-form .task-form-container form .task-form-header
{
    width: 80%;
    border-right: 1px solid var(--color-gray);
}

#dashboard .block #main .content main #project-view #task-form .task-form-container form .task-form-header h2
{
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    padding-bottom: 10px;
}

#dashboard .block #main .content main #project-view #task-form .task-form-container form .form-group
{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-weight: var(--font-weight-regular);
}

#dashboard .block #main .content main #project-view #task-form .task-form-container form .form-group label
{
   font-size: var(--font-size-small);
   font-weight: var(--font-weight-medium);
}

#dashboard .block #main .content main #project-view #task-form .task-form-container form .form-group:not(.time-group) input,
#dashboard .block #main .content main #project-view #task-form .task-form-container form .form-group textarea
{
    width: 95%;
    border-radius: var(--border-radius-sSmall);
    color: var(--color-black);
}

#dashboard .block #main .content main #project-view #task-form .task-form-container form .form-group textarea
{
    resize: none; 
    overflow-y: auto; 
    max-height: 300px; 
    margin-bottom: 10px;
}

#dashboard .block #main .content main #project-view #task-form .task-form-container form .form-group.time-group input
{
    border-radius: var(--border-radius-sSmall);
    width: 100%;
    max-width: 180px;
    color: var(--color-black);
}

#dashboard .block #main .content main #project-view #task-form .task-form-container form .form-main
{
    padding-bottom: 10px;
}

#dashboard .block #main .content main #project-view #task-form .task-form-container form .user-list .user-item,
#dashboard .block #main .content main #project-view #task-form .task-form-container form .user-list .user-info
{
  display: flex;
  background-color: var(--color-white);
}

#dashboard .block #main .content main #project-view #task-form .task-form-container form .user-list .chat-button
{
    margin-left: auto;
    margin-right: 15px;
}

#dashboard .block #main .content main #project-view #task-form .task-form-container form .user-list .chat-button svg
{
    color: var(--color-black);
}

#dashboard .block #main .content main #project-view #task-form .task-form-container form .user-list .user-item
{
    width: 80%;
    border: 1px solid var(--color-black);
    padding: 15px 0px;
    border-radius: var(--border-radius-sSmall);
    margin-top: 10px;
}

#dashboard .block #main .content main #project-view #task-form .task-form-container form .user-list .user-info img
{
    margin-left: 15px;
    margin-right: 10px;
    border-radius: 100%;
}

#dashboard .block #main .content main #project-view #task-form .task-form-container form .user-list
{
    height: auto;
    max-height: 240px;
    overflow-y: auto;
}

#dashboard .block #main .content main #project-view #task-form .task-form-button
{
    width: 30%;
    min-width: 120px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

#dashboard .block #main .content main #project-view #task-form .task-form-button .close-button
{
    position: absolute;
    top: -15px;
    right: -15px;
    transition: color 0.1s ease-in;
    font-weight: var(--font-weight-bold);
}

#dashboard .block #main .content main #project-view #task-form .task-form-button .close-button:hover
{
    color: var(--color-red);
}

#dashboard .block #main .content main #project-view #task-form .task-form-button .add-user-button,
#dashboard .block #main .content main #project-view #task-form .task-form-button .save-button
{
    padding: 5px 8px;
    border-radius: var(--border-radius-sSmall);
    background-color: var(--color-white);
    color: var(--color-black);
    border: 2px solid var(--color-black);
    box-shadow: 2px 3px 0 var(--color-black);
    transform: translate(0,0);
    transition: box-shadow 0.1s ease-in-out,transform 0.1s ease-in-out;
}

#dashboard .block #main .content main #project-view #task-form .task-form-button .add-user-button
{
    margin: auto;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
}

#dashboard .block #main .content main #project-view #task-form .task-form-button .save-button
{
    background-color: var(--color-whiteGray);
    color: var(--color-black);
    border: 2px solid var(--color-light-blue);
    box-shadow: 2px 3px 0 var(--color-light-blue);
}

#dashboard .block #main .content main #project-view #task-form .task-form-button .add-user-button:active,
#dashboard .block #main .content main #project-view #task-form .task-form-button .save-button:active
{
    transform: translate(2px,3px);
    box-shadow: none;
}
