
#dashboard .block #main .content main #project-view .task-comments
{
    width: 100%;
    height: 100%;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--color-shadow);
    z-index: 999;
    border-radius: var(--border-radius-large);
}

#dashboard .block #main .content main #project-view .task-comments-main
{
    background-color: var(--color-white);
    position: relative;
    width: 85%;
    top: 50%;
    transform: translateY(-50%);
    height: 95%;
    margin: auto;
    border-radius: var(--border-radius-medium);
    display: flex;
}

#dashboard .block #main .content main #project-view .task-comments .task-comments-menu
{
    width: 20%;
    min-width: 200px;
    height: 100%;
    background-color: var(--color-whiteGray);
    border-top-left-radius: var(--border-radius-medium);
    border-bottom-left-radius: var(--border-radius-medium);
}

#dashboard .block #main .content main #project-view .task-comments .task-comments-menu .task-header
{
    display: flex;
    padding: 16px 0px;
    align-items: center;
}

#dashboard .block #main .content main #project-view .task-comments .task-comments-menu .task-header h1{
    font-size: 18px;
    font-weight: var(--font-weight-medium);
    margin-left: 8px;
}

#dashboard .block #main .content main #project-view .task-comments .task-comments-menu .task-header .btn-close
{
   background-color: var(--color-black);
   color: var(--color-white);
   border-radius: var(--border-radius-small);
   width: 38px;
   height: 38px;
   margin-left: 16px;
   transition: width .2s ease-in-out;
   position: relative;
}

#dashboard .block #main .content main #project-view .task-comments .task-comments-menu .task-header .btn-close::after
{
    content: "close";
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

#dashboard .block #main .content main #project-view .task-comments .task-comments-menu .task-header .btn-close:hover
{
    width: 80px;
}

#dashboard .block #main .content main #project-view .task-comments .task-comments-menu .task-header .btn-close:hover::after
{
    opacity: 1;
}

#dashboard .block #main .content main #project-view .task-comments .task-comments-menu .task-header .btn-close svg
{
    width: 34px;
}
#dashboard .block #main .content main #project-view .task-comments .task-comments-menu .task-header .btn-close:active
{
  background-color: var(--color-white);
  color: var(--color-black);
}

#dashboard .block #main .content main #project-view .task-comments .task-comments-menu .comments-user-list
{
    padding-top: 10px;
    height: auto;
    max-height: 85%;
    overflow-y: auto;
}

#dashboard .block #main .content main #project-view .task-comments .task-comments-menu .comments-user-list li
{
   display: flex;
   padding: 14px;
   gap: 10px;
   justify-content: center;
   margin: 10px 20px;
   cursor: pointer;
   transition: all .2s ease-in-out;
   align-items: center;
}

#dashboard .block #main .content main #project-view .task-comments .task-comments-menu .comments-user-list li img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

#dashboard .block #main .content main #project-view .task-comments .task-comments-menu .comments-user-list li:not(.active):hover
{
    background-color: var(--color-white);
    border-radius: var(--border-radius-small);
    box-shadow: 0 0 5px var(--color-shadow);
    
}

#dashboard .block #main .content main #project-view .task-comments .task-comments-menu .comments-user-list li.active{
    background-color: var(--color-white);
    border-radius: var(--border-radius-small);
    box-shadow: 0 0 5px var(--color-shadow);
}

/* content */

#dashboard .block #main .content main #project-view .task-comments .task-comments-content
{
    background: url("/image/bg-comment-while.jpeg");
    background-size: cover;
    width: 80%;
    height: 100%;
    border-top-right-radius: var(--border-radius-medium);
    border-bottom-right-radius: var(--border-radius-medium);
    position: relative;
}

#dashboard.dark-mode .block #main .content main #project-view .task-comments .task-comments-content
{
    background: url("/image/bg-comment-black.jpeg");
    background-size: cover;
    width: 80%;
}

#dashboard .block #main .content main #project-view .task-comments .task-comments-header
{
    display: flex;
    background-color: rgba(var(--color-black-rgb), 0.5);
    backdrop-filter: blur(3px);
    width: 100%;
    padding: 10px 20px;
    border-top-right-radius: var(--border-radius-medium);
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

#dashboard .block #main .content main #project-view .task-comments .task-comments-header img
{
    border-radius: 50%;
    width: 38px;
    height: 38px;
}

#dashboard .block #main .content main #project-view .task-comments .task-comments-header h1{
    font-weight: var(--font-weight-medium);
    margin-left: 10px;
}

/* setup layout */
/* custom comment-list */
#dashboard .block #main .content main #project-view .task-comments .task-comments-content .task-comments-list
{
    border-top-right-radius: var(--border-radius-medium);
    margin: 50px 0px;
    height: 80%;
    width: 100%;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
/* Ẩn thanh cuộn trên Chrome, Safari và Edge */
#dashboard .block #main .content main #project-view .task-comments .task-comments-content .task-comments-list::-webkit-scrollbar {
    display: none; 
}

/* layout comment */
#dashboard .block #main .content main #project-view .task-comments .task-comments-content .task-comments-list .comments
{
    padding: 5px 0px;
}

#dashboard .block #main .content main #project-view .task-comments .task-comments-content .task-comments-list .comments-content
{
    background-color: var(--color-white);
    width: 45%;
    height: auto;
    padding: 10px;
    border-radius: var(--border-radius-small);
    box-shadow: 2px 3px 5px var(--color-shadow);
}

#dashboard .block #main .content main #project-view .task-comments .task-comments-content .task-comments-list .comments-content .comments-date
{
    font-size: var(--font-size-sSmall);
    font-weight: var(--font-weight-light);
    margin-top: 5px;
}

/* custom comments to project managet */
#dashboard .block #main .content main #project-view .task-comments .task-comments-content .task-comments-list .comments-left .comments-content
{
    margin-left: auto;
}

/* custom comment-post */
#dashboard .block #main .content main #project-view .task-comments .task-comments-content .task-comments-post
{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(var(--color-black-rgb),0.5);
    backdrop-filter: blur(3px);
    padding: 10px 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom-right-radius: var(--border-radius-medium);
}

#dashboard .block #main .content main #project-view .task-comments .task-comments-content .task-comments-post form
{
    width: 100%;
    display: flex;
    height: auto;
}

#dashboard .block #main .content main #project-view .task-comments .task-comments-content .task-comments-post textarea
{
    font-size: var(--font-size-small);
    height: auto; 
    width: 90%;
    resize: none; 
    overflow-y: auto; 
    line-height: 1.2em;
    border-radius: var(--border-radius-small);
    padding: 10px;
}

#dashboard .block #main .content main #project-view .task-comments .task-comments-content .task-comments-post textarea::-webkit-scrollbar
{
    display: none;
}

#dashboard .block #main .content main #project-view .task-comments .task-comments-content .task-comments-post .btn
{
   margin: auto;
   padding: 6px 14px;
   border-radius: var(--border-radius-small);
   color: var(--color-white);
    background-color: var(--color-black);
    transition: .2s ease-in-out;
}

#dashboard .block #main .content main #project-view .task-comments .task-comments-content .task-comments-post .btn:hover
{
    background-color: var(--color-white);
    color: var(--color-black);
}