


#dashboard .block #main .content main #project-view
{
    height: auto;
}

#dashboard .block #main .content main #project-view .block-project
{
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--color-black);
}

#dashboard .block #main .content main #project-view .block-project .block-element-left
{
   display: flex;
   align-items: center;
}

#dashboard .block #main .content main #project-view .block-project .block-element-left .btn-black
{
    background-color: var(--color-black);
    color: var(--color-white);
    display: flex;
    padding: 8px 8px;
    border-radius: var(--border-radius-small);
    text-align: center;
    align-items: center;
    position: relative;
    width: 42px;
    height: auto;
    transition: width 0.2s ease-in;
}

#dashboard .block #main .content main #project-view .block-project .block-element-left .btn-black svg{
    background-color: var(--color-black);
}


#dashboard .block #main .content main #project-view .block-project .block-element-left .btn-black::after
{
    content: 'black';
    opacity: 0;
    color: var(--color-white);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.1s ease-in-out;
}

#dashboard .block #main .content main #project-view .block-project .block-element-left .btn-black:hover
{
    width: 90px;
}  

#dashboard .block #main .content main #project-view .block-project .block-element-left .btn-black:hover::after
{
    opacity: 1;
    transform: translateX(-20%);
}

#dashboard .block #main .content main #project-view .block-project .block-project-name h1
{
   font-size: var(--font-size-large);
   font-weight: var(--font-weight-medium);
   margin-left: 15px;
}

#dashboard .block #main .content main #project-view .block-project .block-element-right
{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;
}

#dashboard .block #main .content main #project-view .block-project .block-element-right .btn{
    color: var(--color-white);
    border: 2px solid var(--color-black);
    background-color: var(--color-black);
    border-radius: var(--border-radius-sSmall);
    padding: 8px 8px;
    transition: all 0.2s ease-in-out;
}

#dashboard .block #main .content main #project-view .block-project .block-element-right .btn-person
{
    padding: 5px 8px;
    background-color: var(--color-white);
    color: var(--color-black);
    transform: translate(-2px,-2px);
    box-shadow: 2px 2px 0px var(--color-black);
}

#dashboard .block #main .content main #project-view .block-project .block-element-right .btn-history
{
    position: relative;
}

#dashboard .block #main .content main #project-view .block-project .block-element-right .btn-history svg{
    transform: translateY(0);
}

#dashboard .block #main .content main #project-view .block-project .block-element-right .btn-history::after
{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    content: 'history';
    font-size: 9px;
    font-weight: var(--font-weight-medium);
    opacity: 0;
}

#dashboard .block #main .content main #project-view .block-project .block-element-right .btn-history::after,
#dashboard .block #main .content main #project-view .block-project .block-element-right .btn-history svg
{
    transition: transform 0.3s ease-in-out,opacity 0.4s ease-in-out;
}

#dashboard .block #main .content main #project-view .block-project .block-element-right .btn-history:hover svg{
    transform: translateY(-5px);
}

#dashboard .block #main .content main #project-view .block-project .block-element-right .btn-history:hover::after
{
   opacity: 1;
}

#dashboard .block #main .content main #project-view .block-project .block-element-right .btn-person:active {
    transform: translate(0px, 0px); 
    box-shadow: 0px 0px 0px var(--color-black); 
}

#dashboard .block #main .content main #project-view main
{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
}

#dashboard .block #main .content main #project-view main .block-task
{
    margin: 10px 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: auto; 
    height: auto; 
    position: relative;
    margin-top: 60px;
}

#dashboard .block #main .content main #project-view main .block-task.to-do{
    --color-status: var(--color-light-blue);
}

#dashboard .block #main .content main #project-view main .block-task.in-progress{
    --color-status: var(--color-yellow);
}

#dashboard .block #main .content main #project-view main .block-task.verify{
    --color-status: var(--color-red);
}

#dashboard .block #main .content main #project-view main .block-task.done{
    --color-status: var(--color-green);
}

#dashboard .block #main .content main #project-view main .block-task .block-task-list
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-whiteGray);
    padding: 8px 8px;
    padding-bottom: 15px;
    border-bottom-left-radius: var(--border-radius-small);
    border-bottom-right-radius: var(--border-radius-small);
    box-shadow: 0 4px 0 var(--color-status);
    box-shadow: inset 0 0px 8px var(--color-shadow);
    height: auto;
    max-height: 60vh;
    overflow-y: auto;
}

#dashboard .block #main .content main #project-view main .block-task .block-task-list::-webkit-scrollbar {
    width: 0;
}

#dashboard .block #main .content main #project-view main .block-task .block-task-list {
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
    border-top-right-radius: var(--border-radius-sSmall);
}

#dashboard .block #main .content main #project-view main .block-task .task-card
{
    display: flex;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-sSmall);
    transition: box-shadow 0.2s ease;
}

#dashboard .block #main .content main #project-view main .block-task .block-task-header
{
    position: absolute;
    top: -40px;
    left: 0;
    z-index: 999;
    display: flex;
    height: 40px;
    width: 100%;
}

#dashboard .block #main .content main #project-view main .block-task .block-task-header h1
{
    width: 50%;
    background-color: var(--color-status);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
    border-top-left-radius: var(--border-radius-sSmall);
    border-top-right-radius: var(--border-radius-sSmall);
    position: relative;
}

#dashboard .block #main .content main #project-view main .block-task .block-task-header h1::before
{
    position: absolute;
    content: "";
    background-color: transparent;
    width: 15px;
    height: 15px;
    bottom: 0;
    right: -15px;
    border-bottom-left-radius: var(--border-radius-sSmall);
    box-shadow: -10px 0px 1px var(--color-status);
}

#dashboard .block #main .content main #project-view main .block-task .block-task-header .task-add-card
{
    width: 50%;
    height: 33px;
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-bottom: auto;
    border-radius: var(--border-radius-sSmall);
    transition: .2s ease-in-out;
}

#dashboard .block #main .content main #project-view main .block-task .block-task-header .task-add-card:hover
{
    background-color: var(--color-black);
    color: var(--color-white);
}

#dashboard.dark-mode .block #main .content main #project-view main .block-task .block-task-header .task-add-card:hover
{
    box-shadow: 0px 0px 10px var(--color-black);
}

#dashboard .block #main .content main #project-view main .block-task .task-card
{
    background-color: var(--color-white);
    margin-top: 10px;
    display: inline-block;
    width: 100%;
    height: auto;
}

#dashboard .block #main .content main #project-view main .block-task .task-card .task-card-content,
#dashboard .block #main .content main #project-view main .block-task .task-card .task-card-element,
#dashboard .block #main .content main #project-view main .block-task .task-card .task-element
{
    display: flex;
    align-items: center;
}

#dashboard .block #main .content main #project-view main .block-task .task-card .task-card-content
{
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
    margin: auto;
    padding: 12px 10px;
}

#dashboard .block #main .content main #project-view main .block-task .task-card .task-card-content .btn-group,
#dashboard .block #main .content main #project-view main .block-task .task-card .element-right
{
    margin-left: auto;
}

#dashboard .block #main .content main #project-view main .block-task .task-card .task-element
{
    font-size: var(--font-size-sSmall);
    font-weight: var(--font-weight-medium);
}

#dashboard .block #main .content main #project-view main .block-task .task-card-element
{
    margin: auto;
    padding: 3px 10px;
    background-color: var(--color-status);
    border-bottom-left-radius: var(--border-radius-sSmall);
    border-bottom-right-radius: var(--border-radius-sSmall);
    color: #222222;
    position: relative;
}

#dashboard .block #main .content main #project-view main .block-task .task-card-element.pesonal-plan
{
    --color-status: var(--color-black);
    color: var(--color-white);
}

#dashboard .block #main .content main #project-view main .block-task .task-card
{
    transition: transform 0.3s ease,box-shadow 0.3s ease;
}

#dashboard .block #main .content main #project-view main .block-task .task-card:hover
{
  transform: translateY(-2px);   
  box-shadow: 0px 8px 8px var(--color-shadow);
}

#dashboard .block #main .content main #project-view main .block-task .task-card .task-card-content .btn-group
{
    display: flex;
    gap: 2px;
    transition: all 0.2s ease-in-out;
}


#dashboard .block #main .content main #project-view main .block-task .task-card .task-card-content
{
    position: relative;
}

/* custom is_late_deadline */
#dashboard .block #main .content main #project-view main .block-task .task-card.is_late,
#dashboard .block #main .content main #project-view main .block-task .task-card.is_near_deadline
{
    margin-top: 18px;
}

#dashboard .block #main .content main #project-view main .block-task .task-card.is_late .task-card-content,
#dashboard .block #main .content main #project-view main .block-task .task-card.is_near_deadline .task-card-content
{
    border-top-left-radius: var(--border-radius-sSmall);
    border-top-right-radius: var(--border-radius-sSmall);
}

#dashboard .block #main .content main #project-view main .block-task .task-card.is_late .task-card-content
{
    background-color: rgba(var(--color-red-rgb),0.1);
}

#dashboard .block #main .content main #project-view main .block-task .task-card.is_near_deadline .task-card-content
{
    background-color: rgba(var(--color-yellow-rgb), 0.2);
}

#dashboard .block #main .content main #project-view main .block-task .task-card.is_late .task-card-content::before,
#dashboard .block #main .content main #project-view main .block-task .task-card.is_near_deadline .task-card-content::before 
{
    content: "Deadline missed !";
    position: absolute;
    top: -10px;
    right: 8px;
    font-size: var(--font-size-sSmall);
    color: var(--color-red);
    background-color: rgba(var(--color-red-rgb), 0.2);
    padding: 2px 5px;
    border-radius: 3px;
}

/* custom project name to task */

#dashboard .block #main .content main #project-view main .block-task .task-card .task-card-content .project-name{
    position: absolute;
    font-size: calc(var(--font-size-sSmall) + 1px);
    top: -8px;
    left: 8px;
    font-weight: var(--font-weight-medium);
}

#dashboard .block #main .content main #project-view main .block-task .task-card.is_near_deadline .task-card-content::before
{
    content: "Near deadline !";
    color: var(--color-yellow);
    background-color: rgba(var(--color-yellow-rgb), 0.2);
}


#dashboard .block #main .content main #project-view main .block-task .task-card .task-card-content .btn-group .btn-comment
{
    padding: 5px;
}
#dashboard .block #main .content main #project-view main .block-task .task-card .task-card-content .btn-group .btn-comment,
#dashboard .block #main .content main #project-view main .block-task .task-card .task-card-content .btn-group .btn-view,
#dashboard .block #main .content main #project-view main .block-task .task-card .task-card-content .btn-group .btn-delete{
    position: relative;
}
#dashboard .block #main .content main #project-view main .block-task .task-card .task-card-content .btn-group .btn-comment::after,
#dashboard .block #main .content main #project-view main .block-task .task-card .task-card-content .btn-group .btn-view::after,
#dashboard .block #main .content main #project-view main .block-task .task-card .task-card-content .btn-group .btn-delete::after
{
    position: absolute;
    background-color: var(--color-black);
    color: var(--color-white);
    top: -30%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 3px 5px;
    font-size: var(--font-size-sSmall);
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out,top 0.3s ease-in-out;
}

#dashboard .block #main .content main #project-view main .block-task .task-card .task-card-content .btn-group .btn-view::after
{
    content: 'view';
}

#dashboard .block #main .content main #project-view main .block-task .task-card .task-card-content .btn-group .btn-delete::after
{
    content: 'archive';
}
#dashboard .block #main .content main #project-view main .block-task .task-card .task-card-content .btn-group .btn-comment::after
{
    content: 'chat';
}
#dashboard .block #main .content main #project-view main .block-task .task-card .task-card-content .btn-group .btn-comment:hover:after,
#dashboard .block #main .content main #project-view main .block-task .task-card .task-card-content .btn-group .btn-view:hover::after,
#dashboard .block #main .content main #project-view main .block-task .task-card .task-card-content .btn-group .btn-delete:hover::after
{
    opacity: 1;
    top: -50%;
}

#dashboard .block #main .content main #project-view main .block-task .task-card .task-card-content .btn-group .btn-view:hover
{
   color: var(--color-status);
}

#dashboard .block #main .content main #project-view main .block-task .task-card .task-card-content .btn-group .btn-delete:hover
{
    color: var(--color-green);
}