
#login.forgot-password .block
{
   height: 300px;
}

#login.forgot-password .block .block-text
{
    width: 85%;
    margin: 0 auto;
    margin-top: 25px;
}

#login.forgot-password .block .block-text p
{
    text-align: left;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
}